--
-- VARIABLES & OPTIONS
--

-- The `apiHost` and `apiEndpoint` can be obtained by doing an authenticated API call
-- to `https://graph.api.smartthings.com/api/smartapps/endpoints`. See the README for more details.
apiHost     = "https://graph-na02-useast1.api.smartthings.com"
apiEndpoint = "/api/smartapps/installations/88888888-cccc-dddd-55555-44444444444"

-- Set `blink_led` to true to blink the blue onboard LED upon successful communication with SmartThings
-- This is useful for visual confirmation and testing, but I leave it off in production
-- The onboard LED is tied to pin D4 so you cannot use this pin for other things when enabled
blink_led = false

-- Set `poll_interval` in seconds to poll each sensor periodically as a _backup_ check. You really shouldn't need
-- to poll at all, but occasionally people have reported missed open/close events. This will not update SmartThings every
-- time, only if the state of the sensor is is different from the internal memory state.
-- Set this to 0 or null to never poll.
poll_interval = 60

-- `sensors` is a table of the sensor devices, their SmartThings device IDs and their corresponding pin on
-- the ESP8266 board. The pins are labeled with a `D` followed by a number. Only specify the numerical part as the `gpioPin`.
sensors = {}
sensors[1] = {
	name = "Front Door",
	deviceId = "88888888-cccc-dddd-5555-444444444444",
	gpioPin = 6
}
sensors[2] = {
	name = "Back Door",
	deviceId = "88888888-cccc-dddd-5555-ffffffffffff",
	gpioPin = 7
}
sensors[3] = {
	name = "Motion Sensor",
	deviceId = "88888888-cccc-dddd-5555-eeeeeeeeeeee",
	gpioPin = 2
}

-- `alarm` is the configuration to connect your alarm system's siren or strobe. SmartThings _Alarm_ capability supports
-- both siren and strobe states, so you can connect up to two wired devices to two pins on the NodeMCU ESP8266 board,
-- using a relay to switch a higher voltage device.
--
--  `deviceId`  - The SmartThings deviceId of your NodeMCU Connected Alarm device. Set this to `nil` to disable siren/strobe support.
--  `httpPort`  - The port used for your SmartThings hub to communicate with the built-in HTTP server on the NodeMCU
--  `sirenPin`  - The pin on the board connected to your siren relay. Set to `nil` to disable.
--  `strobePin` - The pin on the board connected to your strobe relay. Set to `nil` to disable.
alarm = {
  deviceId = nil,
  httpPort = 8100,
  sirenPin = 1,
  strobePin = nil
}
